In [8]:
import seaborn as sns
from matplotlib import pyplot as plt
import matplotlib
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("accidents_day+time.csv")

In [6]:
pd.melt(frame=df, id_vars='day', value_vars=['0~2','2~4','4~6','6~8','8~10','10~12','12~14','14~16','16~18','18~20','20~22','22~24'])

    day variable  value
0   Sun      0~2    111
1   Mon      0~2     43
2   Tue      0~2     29
3   Wed      0~2     60
4   Thr      0~2     35
..  ...      ...    ...
79  Tue    22~24    151
80  Wed    22~24    165
81  Thr    22~24    243
82  Fri    22~24    275
83  Sat    22~24    399

[84 rows x 3 columns]